* {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    padding: 10px;
    background-color: #7d1211;    
    background-size: 1480px;
    font-family: 'Arial Narrow Bold', sans-serif;
  }

  .articles {
    background-image: url("drawingbg.jpg");
    background-position: 200px;
  }

  .topnav {
    overflow: hidden;
    margin: 20px;
    margin-top: 30px;
  }
  
  .topnav a {
    float: right;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 14px 25px;
    text-decoration: none;
    color: white;
  }
  
  .header {
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
  }

  .date {
    padding: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #b0474b;
    color: white;
  }
  
  .bottomnav {
    overflow: hidden;
    background-color: #ebebeb;
    margin: 20px;
  }
  
  .bottomnav a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 28.7px;
    text-decoration: none;
    font-size: 17px;
    background-color: #d9d5d2;
  }
  
  .bottomnav a:hover {
    background-color: #b0474b;
    color: #f3f3f3;
  }

  .column {
    float: left;
    padding: 30px;
    background-color: #f7f7f7;
  }
  
  .column.side {
    width: 30%;
    margin: 2px;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  .column.middle {
    width: 62%;
    margin: 2px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .column.third {
    width: 30%;
    margin: 2px;
    margin-top: 40px;
    margin-left: 30px;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 1px;
    text-align: center;
    margin: 150px;
  }