* {
    box-sizing: border-box;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  
  body {
    margin: 0;
    padding: 10px;
    background-color: #9e324aff;
  }

  .topnav {
    overflow: hidden;
    margin: 20px;
    background-image: url("redbanner.PNG");
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  .header {
    padding: 20px;
    text-align: center;
    background-color: #a12148;
  }
  
  .bottomnav {
    overflow: hidden;
    background-color: #721c37ff;
    margin: 20px;
  }
  
  .bottomnav a {
    float: left;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  .bottomnav a:hover {
    background-color: #ae1939ff;
    color: #f3f3f3;
  }
  
  .column {
    float: left;
    padding: 20px;
    background-color: #a12148;
  }
  
  .column.side {
    width: 32%;
    margin: 2px;
    margin-left: 20px;
  }
  
  .column.middle {
    width: 65%;
    margin: 2px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #9e324aff;
    padding: 0px;
    text-align: center;
    margin: 20px;
  }